@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid white
}

.navbar h1 {
  color: #f1356d;
}

.links {
  margin-left: auto;
}

.links a {
  text-decoration: none;
  margin: 5px;
}

.links a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
}

/* job list in home page */
.job-list h2{
  margin-top: 10px;
  margin-bottom: 20px;
}

.job-preview {
  padding: 0 15px;
  margin: 10px 0;
  border-bottom: 1px solid white;
  text-align: left;
}

.job-preview:hover{
  box-shadow: -1px 3px 5px rgba(0,0,0,0.1)
}

.job-preview h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.job-preview #salary {
  margin-bottom: 10px;
}

.job-preview a{
  text-decoration: none;
}

/* Job Detail Page */
.job-detail {
  text-align: left;
  position: relative;
}
.job-detail #salary-cat{
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px;
}
.job-detail #description{
  margin-top: 10px;
}
.job-detail #contact{
  margin-top: 10px;
}
.job-detail button {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 7px;
  background: #f1356d;
  color: white;
  border: 0px;
  padding: 7px;
  cursor: pointer;
}

/* Job Form (Create Job) */
.create-job {
  max-width: 600px;
  margin: 0 auto;
}
.create-job h2 {
  font-size: 20px;
  margin-bottom: 5px;
}
.create-job label{
  text-align: left;
  display: block;
}
.create-job input, .create-job textarea, .create-job select {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 5px 0;
  padding:5px 5px;
}
.create-job button {
  margin-top: 10px;
  border-radius: 6px;
  background: #f1356d;
  color: white;
  border: 0px;
  padding: 6px;
  cursor: pointer;
}
